#main {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80');
    background-color: #abc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.card {
    margin: 0 auto;
    width: 50%;
}